body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('ellle.jpg');
    background-size: 250px;
    background-position: center;
}

.container {
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
    height: auto;
    margin: 50px 0;
}
.search-section {
    display: flex;
    justify-content: center;
    gap:10px;
}

#searchInput {
    padding: 10px;
    font-size: .8em;
}

#searchButton {
    margin-top:10px;
    background-color: #ed297b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8em;
}

#searchButton:hover {
    background-color: white;
    color: #ed297b;
    border: .5px solid #ed297b;
}
.input-section {
    margin-bottom: 40px;
}

.input-section label {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
}

.input-section input {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 1.2em;
}

.pre-price-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.pre-price {
    padding: 10px 15px;
    font-size: 1em;
    background-color: #ed297b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pre-price:hover {
    background-color: white;
    color: #ed297b;
    border: .5px solid #ed297b;
}

#enter, #update {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    background-color: #ed297b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.toast-container {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 9999; /* Ensure the toast is on top of other elements */
}

.toast-container.show {
    display: block;
}

.toast-message {
    display: inline-block;
}

.exit-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 10px;
    color:red;
}


#download {
    z-index: 1;
    border: none;
    width: 150px;
    padding: 10px 0;
    background-color: #ed297b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 40px;
}

#dataBase{
    z-index: 2;
    border: none;
    width: 150px;
    padding: 10px 0;
    background-color: #ed297b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 360px;
}

#clearTable {
    z-index: 1;
    border: none;
    width: 150px;
    padding: 10px 0;
    background-color: #ed297b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 200px;
}

#enter:hover, #update:hover, #download:hover, #clearTable:hover {
    background-color: white;
    color: #ed297b;
    border: .5px solid #ed297b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 20px;
    text-align: left;
    font-size: 1.2em;
}

th {
    background-color: #ed297b;
    color: white;
}

tfoot td {
    font-weight: bold;
    font-size: 1.2em;
}

.edit-button, .delete-button {
    padding: 8px 12px;
    margin-right: 5px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-button {
    background-color: #4CAF50;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

/* Hover effect */
.edit-button:hover, .delete-button:hover {
    opacity: 0.8;
}

.sort-icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
}

th:nth-child(4),
td:nth-child(4) {
    width: 130px; /* Adjust the width as needed */
    max-width: 150px; /* Add max-width to ensure it doesn't exceed the specified width */
}
#balloon-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    z-index: 999;
    pointer-events: none; /* Balloons should not interfere with other elements */
}


.balloon {
    position: absolute;
    bottom: -100px; /* Start below the visible area */
    width: 90px;
    height: 105px;
    background-color: var(--balloon-color, red); /* Default color, can be overridden */
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; /* Make it look like a balloon */
    animation: float 5s ease-in-out infinite;
    pointer-events: none; /* Balloons should not interfere with other elements */
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-500px) rotate(10deg);
    }
    100% {
        transform: translateY(-1000px) rotate(0deg);
    }
}/* New style for background color change */
.yellow-background {
    background-color: yellow !important;
}

.balloon::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 2px;
    height: 20px;
    background-color: #000;
}
/* styles.css */
.confetti-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure the message is on top of other elements */
}

.checkout-button {
    padding: 8px 12px;
    margin-right: 5px;
    font-size: 14px;
    background-color: #007bff; /* Change color to your preference */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 95%;
    margin-top: 10px;
}

/* Hover effect for checkout button */
.checkout-button:hover {
    opacity: 0.8;
}
.scroll-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999; /* Ensure it's above other elements */
    background-color: #ed297b;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    transition: background-color 0.3s;
}

.scroll-button:hover {
    background-color: #ff4081;
}
#undoButton {
    margin-top: 10px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    padding: 8px 12px;/* Adjust margin as needed */
}

#undoButton:hover {
    background-color: #0056b3;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    #dataBase{
        display: none;
    }
    .container {
        width: 95%;
        padding: 20px;
        margin: 20px;
        flex-direction: column;
        gap: 0px;
    }
    .input-section{
        margin-top: 40px;
    }
    .pre-price-buttons{
        margin-bottom: 20px;
    }
    .container #clearTable {
        top: 440px;
        width: 90%;
        left: 20px;
        background-color: #f44336;
    }

    .input-section label {
        font-size: 1em;
    }

    .input-section input {
        padding: 10px;
        font-size: 1em;
    }

    #enter, #update, #download, #clearTable {
        padding: 10px;
        font-size: 1em;
    }

    th, td {
        padding: 10px;
        font-size: 1em;
    }

    #download, #clearTable {
        width: 50%;
        top: 10px;
        right: 10px;
    }

    td .delete-button {
        background-color: #f44336;
        color: white;
        margin-top: 10px;
    }
}